<div class="header ">
    <h1>Practicing</h1> 
  </div>
  
  <div class="row card">
    <a routerLink="/projects/booklist" class="column card pointer CProMainFonts" style="background-color:#aaa;">
      <div>
        <h1 class="CProMainFonts">Booklist</h1>
        <p>Basic HTTP GET request API from "https://anapioficeandfire.com/"</p>
      </div>
    </a>
    <a routerLink="/projects/chatpage" class="column card pointer CProMainFonts" style="background-color:#bbb;">
      <div>
        <h1 class="CProMainFonts">Chatpage</h1>
        <p>realtime data transferring by Websocket protocol, working with backend ASP.NET Core SignalR</p>
        <p>Back-end: ASP.NET Core 5.0 API, Azure app-service</p>
      </div>
    </a>
    <a routerLink="/projects/moviesCRUD" class="column card pointer CProMainFonts" style="background-color:#ccc;">
      <div>
        <h1 class="CProMainFonts">MoviesCRUD</h1>
        <p>
          Interactive single page movies management CRUD (Create, Read, Update, Delete)
        </p>
        <p>Back-end: ASP.NET Core 5.0 API (Entity Framework), Azure SQL, Azure app-service</p>
      </div>
    </a>
    
 
  </div>
  
  <div class="footer">
    <p></p>
  </div>