 .AddMoviePanel{
    padding: 0.2% 0.2% 0.2% 0.2%;
    position: fixed;
    right: 0;
    background-color: rgb(221, 255, 255);
 }
 
 .movie-card{
    max-width: 400px;
    margin: 3%; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,10);
    transition: 0.3s;
 }

 .grid-container {
   display: inline-grid;
   grid-template-columns: auto auto; 
   padding: 5px;
   width: 100%;
   font-size: medium;
 }
 
 .grid-movie {
   background-color: rgba(255, 255, 255, 0.8);
   border: 1px solid rgba(0, 0, 0, 0.8);
   padding:5px;  
 }
 .grid-add-movie {
   background-color: rgba(255, 255, 255, 0.8);
   border: 1px solid rgba(0, 0, 0, 0.8);
   padding:5px;  
 }

 .delete-button{
  position: fixed;
  bottom: 0;
  right: 0;
 }
 .button-warn{
  background-color: #f44336;
  color: white;
  float: right;
 }
 .button-submit{
  background-color: #4CAF50;
  color: white;
 }
 .button-update{
  float: left;
  background-color: #c09813;
  color: white;
 }
