div{
    border: solid 1px;
  }
  
  .chatPanel{
     overflow: auto;
  }
  .chatMessage{
    margin-top: 1%;
  }
  .messageInput{ 
    padding: 0.2% 0.2% 0.2% 0.2%;
    position: fixed;
    bottom: 0;
    background-color: darkolivegreen;
  }