<div style="width: 100%; display: inline-flex;">
  <div  >
    <a [routerLink]="['/']">
        <h1>Home</h1>
    </a>
  </div>

  <div>   
    <a class="aTag" href="https://github.com/monhes/AngularProducts">
      <img src="assets/images/GitHub_Logo.png" class="logo gitlogo">
    </a>
    <a class="aTag" href="https://www.linkedin.com/in/thud-anek-279895194/">
      <img src="assets/images/Linkedin_Logo.png" class="logo">
    </a>
  </div>
</div>
<!-- <a routerLink="/cart" class="button fancy-button"><i class="material-icons">shopping_cart</i>Checkout</a> -->
  

  
  <!-- 
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at https://angular.io/license
  -->